.idea/
*.xlsx
мусор/wild.py
мусор/wild2.py
мусор/wild3.py
мусор/wild4.py
мусор/create_catalog.py
мусор/parser_wb_on_catalog.py
мусор/parser_wb_on_link.py
мусор/get_good_count.py
*.json
мусор/wildberries_delivery.py
мусор/wb_parser.py
мусор/